<div class="col pad-4 gap-5">
    <div class="col gap-1">
        <span class="text-10">Filters</span>
        <span class="text-3 dim-3">(no filter)</span>
    </div>
    <ul class="filter-category">
        <li>Show</li>
        <li><app-checkbox>Online</app-checkbox></li>
        <li><app-checkbox>Compromised</app-checkbox></li>
        <li><app-checkbox>Isolated</app-checkbox></li>
    </ul>
    <ul class="filter-category">
        <li>Operating System</li>
        <li>
            <app-checkbox>
                Windows
                <i class="fab fa-windows"></i>
            </app-checkbox>
        </li>
        <li>
            <app-checkbox>
                macOS
                <i class="fab fa-apple"></i>
            </app-checkbox>
        </li>
        <li>
            <app-checkbox>
                Linux
                <i class="fab fa-linux"></i>
            </app-checkbox>
        </li>
        <li>
            <app-checkbox>
                Debian
                <i class="fab fa-debian"></i>
            </app-checkbox>
        </li>
    </ul>
    <ul class="filter-category">
        <li>Tags</li>
        <li><app-checkbox>Workstation</app-checkbox></li>
        <li><app-checkbox>Server</app-checkbox></li>
    </ul>
</div>