body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: $primary;
    font-family: $font;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -mos-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgba($primary, 0.6);
    border-radius: inherit;
}

::-webkit-scrollbar-thumb {
    background: rgba($accent, 0.15);
    border-radius: inherit;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba($accent, 0.3);
}