@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


// Colors

$primary: #101118;
$secondary: #1E2743;
$accent: #A4B1FC;
$text: #E8E8FC;
$online: #60f2c4;
$compromised: #ed9494;
$isolated: #ececa4;
$risk-low: #82B49A;
$risk-medium: #BABB92;
$risk-high: #bb9892;
$success: #60f29a;
$warning: rgb(219, 209, 95);
$error: rgb(229, 111, 111);

// Fonts

$font: 'Inter', sans-serif;