<div class="col pad-4 gap-5">
    <span class="text-10">Device Details</span>
    <div class="col gap-2 pad-4 panel expand-w">
        <div class="row gap-2 align-center">
            <i class="fas fa-laptop text-4 dim-3"></i>
            <span class="text-5">Desktop-1</span>
            <span class="text-4 dim-2">(10.0.0.28)</span>
        </div>
        <app-status-indicator status="online" />
        <div class="row gap-2 wrap mt-2">
            <button class="btn btn-primary text-4 auto">Isolate</button>
            <button class="btn btn-primary text-4 auto">Restore</button>
            <button class="btn btn-primary text-4 auto">Force scan</button>
            <button class="btn btn-primary text-4 auto">Update plugins</button>
        </div>
    </div>
    <span class="text-6 dim-1">Events</span>
    <div class="col gap-2 pad-4 panel expand-w">
        <ul class="event-list">
            <li>
                <i class="fas fa-plug-circle-check color-success"></i>
                <div class="col gap-1">
                    <span class="text-5">Plugin updated</span>
                    <span class="text-4 dim-2">Today, 10:55</span>
                </div>
            </li>
            <li>
                <i class="fas fa-plug-circle-exclamation color-warning"></i>
                <div class="col gap-1">
                    <span class="text-5">Outdated plugin detected</span>
                    <span class="text-4 dim-2">Today, 10:48AM</span>
                </div>
            </li>
            <li>
                <i class="fas fa-link color-success"></i>
                <div class="col gap-1">
                    <span class="text-5">Device linked</span>
                    <span class="text-4 dim-2">Today, 8:21AM</span>
                </div>
            </li>
        </ul>
    </div>
</div>