@import '../../styles.scss';

.search-wrapper {
    border-radius: 5pt;
    overflow: hidden;
    padding-left: .5em;
    background-color: rgba($secondary, .3);
    border: 1px solid transparent;
    cursor: text;
    transition: border-color .1s ease;

    &:focus-within {
        border-color: rgba($accent, .2);
    }

    .fas, .far {
        pointer-events: none;
    }

    input[type="text"] {
        padding: .5em;
        border: none;
        outline: none;
        background-color: transparent;
        color: $text;

        &:focus {
            outline: none;
        }
    }
}