@use 'sass:color';
@use '../../styles' as *;

.status-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    font-size: inherit;

    &.status-online {
        color: $online;

        .node {
            display: block;
            position: relative;
            width: 9px;
            height: 9px;
            background-color: $online;
            border-radius: 50%;
            transform-style: preserve-3d;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) translateZ(-1px) scale(1);
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-color: inherit;
                opacity: .8;
                animation: status-pulse 1s infinite linear;
            }
        }
    }

    &.status-compromised {
        color: $compromised;
        animation: compromised-blink-color .8s infinite linear alternate-reverse;

        .node {
            display: block;
            position: relative;
            width: 9px;
            height: 9px;
            background-color: $compromised;
            border-radius: 50%;
            transform-style: preserve-3d;
            animation: compromised-blink .8s infinite linear alternate-reverse;
        }
    }

    &.status-isolated {
        color: rgba($text, .5);

        .node {
            display: block;
            position: relative;
            width: 9px;
            height: 9px;
            background-color: rgba($text, .5);
            border-radius: 50%;
            transform-style: preserve-3d;
        }
    }
}

@keyframes status-pulse {
    from {
        transform: translate(-50%, -50%) translateZ(-1px) scale(1);
        opacity: .8;
    }

    to {
        transform: translate(-50%, -50%) translateZ(-1px) scale(2);
        opacity: 0;
    }
}

@keyframes compromised-blink {
    from {
        background-color: $compromised;
    }

    to {
        background-color: color.adjust(
            $compromised,
            $saturation: 150%,
            $lightness: -20%
        );
    }
}

@keyframes compromised-blink-color {
    from {
        color: $compromised;
    }

    to {
        color: color.adjust(
            $compromised,
            $saturation: 150%,
            $lightness: -20%
        );
    }
}

.status-indicator {
    &.online {
        color: $online;
    }
    // ... reste du fichier
}